# -----------------------------
# Variables d'Entorn i Secrets
# -----------------------------
.env

# -----------------------------
# Memòria Cache i Fitxers Temporals
# -----------------------------
Cache/
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Imatges i Dades d'Entrenament/Test
# -----------------------------
Photos/
Photos_Test/
PhotosTrain/

# -----------------------------
# Entorns Virtuals de Python
# -----------------------------
venv/
.venv/
env/

# -----------------------------
# Arxius del sistema operatiu
# -----------------------------
.DS_Store
Thumbs.db